<h1>{{restaurantinfo.restaurant_name}}</h1>
<h3>{{restaurantinfo.city}}, {{restaurantinfo.state}}</h3>

<button data-name="{{restaurantinfo.restaurant_name}}" data-id="{{restaurantinfo.id}}" id="rateRestaurant">Rate this Restaurant</button>

<button id="RateMeal" data-id="{{restaurantinfo.id}}" data-name="{{restaurantinfo.restaurant_name}}">Rate a meal from this
    restaurant</button>

<div class="restaurantRatings">
    
    <h4>Restaurant Reviews</h4>
    <ul>
        {{#each restaurantinfo.Ratings}}
        <li>
            rating: {{rating}}
            <p>
                comment: {{comment}}
            </p>

        </li>

        {{/each}}
    </ul>

    <h4>Menu Reviews</h4>
    <ul>
        {{#each restaurantinfo.Meals}}
        <li>{{this.menu_item}}</li>
            <p>rating: {{this.rating}}</p>
            <p>pros: {{this.pros}}</p>
            <p>cons: {{this.cons}}</p>
        {{/each}}
    </ul>
</div>