<button id="RateMeal" data-id="{{restaurantData.id}}" data-name="{{restaurantData.restaurant_name}}"
    class="resInfoButt">Rate a meal from this
    restaurant</button>

<button data-name="{{restaurantData.restaurant_name}}" data-id="{{restaurantData.id}}" id="rateRestaurant"
    class="resInfoButt">Rate this Restaurant</button>


<h1>{{restaurantData.restaurant_name}}</h1>
<h3>{{restaurantData.city}}, {{restaurantData.state}}</h3>

<div class="clearfix">

    <div class="restaurantRatings">

        <h4>Restaurant Reviews</h4>
        <ul>
            {{#each restaurantData.Ratings}}
            <hr class="restaurantSplit">
            <li>Rating: {{rating}}</li>
            <p>Comment: {{comment}}</p>
            {{/each}}
        </ul>

    </div>

    <div class="menuRatings">
        <h4>Menu Reviews</h4>
        <ul>
            {{#each restaurantData.Meals}}
            <hr class="restaurantSplit">
            <li>{{this.menu_item}}</li>
            <p>Rating: {{this.rating}}</p>
            <p>Pros: {{this.pros}}</p>
            <p>Cons: {{this.cons}}</p>
            {{/each}}
        </ul>

    </div>
</div>