<h2>My Reviews</h2>
<ul>
    {{#each reviewData.Ratings}}
    <li>
        Rating: {{rating}}
        comment: {{comment}}
        Restaurant: {{Restaurant.restaurant_name}}
    </li>
    {{/each}}
</ul>

<ul>
    {{#each reviewData.Meals}}
    <li>
        Restaurant: {{restaurant}}
        Meal: {{menu_item}}
        Rating: {{rating}}
        Pros: {{pros}}
        Cons: {{cons}}
    </li>
    {{/each}}
</ul>